* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  position: fixed;
  font-family: "Josefin Sans", sans-serif;
  top: 0px;
  color: white;
  display: flex;
  flex-direction: row;
  margin: 20px;
}
nav {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(red, green, blue, alpha);
}

nav > a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.feature {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1674049/pexels-photo-1674049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center center;
}

.title1 {
  position: relative;
  top: 550px;
  margin-left: 20px;
  left: 50px;
  color: rgb(119, 255, 253);
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  font-size: 30px;
}

.read {
  color: rgb(119, 255, 253);
  font-family: monospace;
}

.image {
  height: 100vh;
  padding: 0%;
  background-image: url("https://images.pexels.com/photos/15913067/pexels-photo-15913067/free-photo-of-woman-sitting-on-a-bench-in-an-art-gallery.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center center;
}

.title2 {
  position: relative;
  top: 550px;
  margin-left: 20px;
  left: 50px;
  color: rgb(7, 244, 213);
  font-family: monospace;
  font-size: 30px;
}

.image3 {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/14012263/pexels-photo-14012263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center center;
}

.title3 {
  position: relative;
  top: 550px;
  margin-left: 20px;
  left: 50px;
  color: rgb(208, 255, 1);
  font-family: monospace;
  font-size: 30px;
}

button {
  background-color: rgb(208, 255, 1);
  border-style: none;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
}

span {
  
  background-color: rgba(red, green, blue, alpha)
  border-radius: 5px;
  padding: 5px;
  
}

.footer {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    color: rgb(188, 187, 187);
    background-color: rgb(155, 122, 56);
    align-items: center;
    padding: 20px;
    justify-content: center;
    
}
